html, body {
    margin: 0;
    padding: 0;
}

/* .header-netflix {
  background: linear-gradient(
    180deg, 
    rgba(0, 0, 0, 0.8) 0%, 
    rgba(0, 0, 0, 0.7889) 8.333%, 
    rgba(0, 0, 0, 0.7556) 16.67%, 
    rgba(0, 0, 0, 0.7) 25%, 
    rgba(0, 0, 0, 0.6222) 33.33%, 
    rgba(0, 0, 0, 0.5222) 41.67%, 
    rgba(0, 0, 0, 0.4) 50%, 
    rgba(0, 0, 0, 0.2778) 58.33%, 
    rgba(0, 0, 0, 0.1778) 66.67%, 
    rgba(0, 0, 0, 0.1) 75%, 
    rgba(0, 0, 0, 0.0444) 83.33%, 
    rgba(0, 0, 0, 0.0111) 91.67%, 
    transparent 100%
  );
} */