html, body {
    margin: 0;
    padding: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    scroll-behavior: smooth;
    background: #000;
}
@keyframes netflixPop {
  0% {
    opacity: 0;
    transform: scale(0.9); 
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes netflixPopOut {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(0.95);
    }
}

@keyframes justFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}